<header>

  <nav class="navbar navbar-default" *ngIf="localStorage.getItem('currentUser')">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" routerLink="/">{{title}}</a>
      </div>
      <app-menu></app-menu>
    </div>
  </nav>
</header>


<main>
  <div class="panel">
    <div class="panel-body">
      <router-outlet></router-outlet>
    </div>
  </div>
</main>


<footer class="text-center">
  Coptyright &copy; 2016
</footer>